<div class="container">
  <div class="row">
    <span class="border">
      <div *ngFor='let movie of movies' class="col">
        <div class="movie">
          <button class="btn btn-secondary" (click)="delete(movie)">x</button>
          <p>
            Name: {{movie.name}}
          </p>
          <p>
            Category: {{movie.category}}
          </p>
          <p>
            {{movie.photo}}
          </p>
          <p>
            Link to imdb :{{movie.imdb}}
          </p>

        </div>
      </div>
    </span>
  </div>
</div>

<div class="float-right">
    <div>
      Hello Admin
    </div>
  <div>
      <button (click)="GoToAdd()">
        Add movie
      </button>
  </div>
      <div>
      <button (click)="Exit()">
        Exit
      </button>
    </div>
</div>